@charset "utf-8";

$spacing-unit: 30px;

$pastelColor: #859398;
$lightAccentColor: #414345;
$darkAccentColor: #232526;

$csstyle-part-symbol: '\\/';
$csstyle-root-id: 'chain';

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "github-light",
        "base",
        "syntax-highlighting"
;
